{
  "presets": [
    "next/babel",
    "env" 
  ],
  "plugins": [
    [ 
      "styled-components", 
      { 
        "ssr": true, 
        "displayName": true,
        "preprocess": false 
      } 
    ],
    [
      "module-resolver", {
        "root": ["."],
        "alias": {
          "styles": "./static/css",
          "components": "./components",
          "api": "./api",
          "database": "./database"
        },
        "cwd": "babelrc"
    }],
    [
      "wrap-in-js",
      {
        "extensions": ["css$", "scss$"]
      }
    ]
  ],
  "ignore": []
}
